/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: Arial, sans-serif;
  color: #333;
}

 .container {
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.options {
  display: flex;
  align-items: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.list {
  margin-bottom: 1rem;
}

.list li {
  margin-bottom: 0.5rem;
}

.upload-box {
  border: 2px dashed #4A90E2;
  color: #4A90E2;
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.upload-box:hover {
  background-color: #E6F7FF;
}

.checkbox {
  margin-right: 0.5rem;
}

.pill {
  padding: 0.5rem 1rem;
  background-color: #E6F7FF;
  color: #4A90E2;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pill:hover {
  background-color: #CCE5FF;
}

.submit-btn {
  width: 100%;
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  text-decoration: none;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.documentation {
  margin-top: 2rem;
}

.link {
  text-decoration: underline;
}
